/.vs
/_ReSharper.KeyboardState
/KeyboardState/obj
/KeyboardState/bin
/KeyboardState/publish
/KeyboardState.5.1.ReSharper.user
/KeyboardState.sln.DotSettings.user
/KeyboardState.suo
/KeyboardState/KeyboardState.csproj.user
/KeyboardState/KeyboardState_TemporaryKey.pfx
/icons.psd
